@font-face {
    font-family: "fonte spotify";
    src: url("../fontes/Circular/CircularStd-Light.otf");
}
@font-face {
    font-family: "fonte spotify bold";
    src: url("../fontes/Circular/CircularStd-Bold.otf");
}
html,body{
    scroll-behavior: smooth;
}
html{
    height: 100%;
    background-color: #000;
}
body{
    background:linear-gradient(180deg, #196032,#0e341c, #121212 10%);
    background:
        -webkit-linear-gradient(180deg, #196032,#0e341c,#121212 10%),
        -o-linear-gradient(180deg, #196032,#0e341c,#121212 10%),
        -moz-linear-gradient(180deg, #196032,#0e341c,#121212 10%);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
/* navbar*/
nav.navbar-custom{
    background-color:rgba(0,0,0,0);
    padding: 20px 10px;
}
nav.navbar-custom .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}
nav.navbar-custom .navbar-nav a#cor-diferente {
    color: #D5D8DB;
}
nav.navbar-custom .navbar-nav .nav-link:hover {
    color: #00ff55;
}
nav.navbar-custom .navbar-nav a#cor-diferente:hover {
    color: #00ff55;
}
nav.navbar-custom .navbar-toggler {
    color: #fff;
    border-color: none;
}
nav.navbar-custom .navbar-toggler:focus {
    outline: none;
}
.divisor-navbar{
    width: 2px;
    background-color: #fff;
    margin: 12px 15px;
}
/* capa */
section#capa{
    margin-top: 10px;
    margin-bottom: 100px;
}
section#capa span#titulo h2{
    color: #A0A5A0;
    font-weight: 600;
    font-size: 1em;
    font-family: "fonte spotify";
    text-transform: uppercase;
    margin-bottom: 0;
}
section#capa span#titulo h1{
    color: #fff;
    font-weight: 900;
    font-size: 48px;
    font-family: "fonte spotify bold";
    letter-spacing: -0.05px;
    margin-bottom: 60px;
}
section#capa h3#titulo2 a{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    font-family: "fonte spotify bold";
    letter-spacing: -0.07px;
    text-decoration: underline;
    cursor: pointer;
}
section#capa h3#titulo2 a:hover{
    text-decoration-color: #00ff55;
}
section#capa h3#titulo2{
    color: #A7A7A7;
    font-weight: 700;
    font-size: 24px;
    font-family: "fonte spotify bold";
    letter-spacing: -0.07px;
}
section#capa input.form-control{
    margin-top: 60px;
    padding: 10px 30px;
    padding-left: 40px;
    color: #000;
    font-family: "fonte spotify bold";
    font-weight: 700;
    outline: none;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.728);
    border:none;
    background: #fff url("../imagens/icons8-lupa-30.png") no-repeat left;
}
section#capa input.form-control:focus, section#capa input.form-control:hover{
    outline: none;
    box-shadow: none;
    border: none;
}
section#capa div#cards{
    margin-top: 20px;
}
section#capa div#cards .card{
    margin-top:10px;
    padding: 20px 8px;
}
section#capa div#cards{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    font-family: "fonte spotify bold";
    text-shadow: 1px 1px 2px #000;
}
section#capa div#cards .card1{
    background: #AF2896 url("../imagens/icons8-mastercard-64.png") no-repeat right;
}
section#capa div#cards .card2{
    background: #537AA1 url("../imagens/icons8-debt-64.png") no-repeat right;
}
section#capa div#cards .card3{
    background: #8C1932 url("../imagens/icons8-lápis-64.png") no-repeat right;
}
section#capa div#cards .card4{
    background: #B06239 url("../imagens/icons8-headphone-64.png") no-repeat right;
}
section#capa div#cards .card5{
    background: #006450 url("../imagens/icons8-iphone-64.png") no-repeat right;
}
section#capa div#cards .card6{
    background: #757575 url("../imagens/icons8-chave-64.png") no-repeat right;
}
section#capa div.card{
    cursor:pointer;
    width: 100%;
    height: 100%;
}
/* ajuda rápida */
section#ajuda{
    background-color: #2A2A2A;
}
section#ajuda h1{
    font-family: "fonte spotify bold";
    color:#fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 30px;
}
section#ajuda ul{
    font-family: "fonte spotify";
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    list-style:none;
    padding: 0;
}
section#ajuda ul li{
    margin: 35px 0;
    font-weight: 600;
    letter-spacing: -0.05;
}
section#ajuda ul li i{
    float: right;
    color: #9D9D9D;
}
section#ajuda ul li summary:hover{
    text-decoration: underline;
    text-decoration-color:#fff;
    cursor:pointer;
}
summary{
    all:unset;
}
details p{
    text-align: justify;
    padding-top: 10px;
    font-size: 0.9em;
    letter-spacing: 0.03em;
}
details ul#lista-detalhes{
    list-style-type: disc;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
}
details ul#lista-detalhes li{
    margin: 0 0 0 50px;
}
details p #saibaMais{
    font-size: 0.9em;
    letter-spacing: 0.03em;
    color: #00ff55;
}
details p #saibaMais:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #00ff55;
    color: #fff;
}
#saibaMais-especial{
    font-size: 0.8em;
    letter-spacing: 0.03em;
    color: #00ff55;
    float: right;
}
#saibaMais-especial:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #00ff55;
    color: #fff;
}
/* comunidade */
section#comunidade{
    background-color: #121212;
    color:#fff;
    margin:100px 0;
}
section#comunidade h1{
    font-family: "fonte spotify bold";
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.9px;
}
section#comunidade p{
    font-family: "fonte spotify";
    font-size: 16px;
    font-weight: 400;
    margin: 0 20px;
}
section#comunidade a.btn{
    font-family: "fonte spotify bold";
    font-size: 16px;
    color: #000;
    background-color: #1ED760;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 10px;
}
section#comunidade a.btn:hover{
    font-weight: bold;
    font-size: 17px;
    background-color: #15f563;
}
section#comunidade div#div-texto-comunidade{
    text-align: center;
}
/* footer */
footer{
    background-color: #000;
    position: relative;
    padding: 40px 0 40px 0;
}
footer li{
    color:#fff;
    font-size: 0.9em;
}
footer ul{
    list-style: none;
}
footer ul#redes-sociais{
    float: right;
}
footer ul#redes-sociais li{
    display: inline;
    font-size: 2em;
    padding-left: 5px;
}
ul#rodape-footer{
    float: left;
    font-size: 0.8em;
    padding-top: 50px;
}
footer ul#rodape-footer li{
    display: inline;
    color:#919496;
    padding-right: 6px;
}
ul#rodape-footer2{
    float: right;
    padding-top: 40px;
}
ul#rodape-footer2 li{
    color:#919496;
    padding-bottom: 6px;
    font-size: 0.8em;
}
footer h4{
    color:#919496;
    font-size: 1em;
}
footer ul.navbar-nav li:hover, ul#redes-sociais li:hover, ul#rodape-footer li:hover, ul#rodape-footer2 li:hover{
    color:#00ff55;
    cursor: pointer;
}
/*Responsividade 
----------------------*/
/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width:574.98px){
    .card{
        font-size: 0.8em;
    }
    section#capa{
        margin-bottom: 30px;
    }
    /* tamanho das fontes da comunidade*/
    section#comunidade{
        margin-top: 30px;
        margin-bottom:30px
    }
    section#comunidade div#div-texto-comunidade h1{
        font-size: 1em;
    }
    section#comunidade div#div-texto-comunidade p{
        font-size: 0.8em;
    }
    section#comunidade div#div-texto-comunidade a.btn{
        font-size: 0.8em;
    }
    /* tamanho da fonte dos links de ajuda rápida*/
    section#ajuda ul li{
        font-size: 0.8em;
    }
}
@media (max-width: 575.98px) { 
    /* tamanho das fontes do titulo e margin do input*/
    section#capa span#titulo h1{
        font-size: 1.8em;
        margin-bottom: 20px;
    }
    section#capa h3#titulo2{
        font-size: 1.2em;
    }
    section#capa h3#titulo2 a{
        font-size: 1em;
    }
    section#capa input.form-control{
        margin-top: 20px;
    }
    /* tamanho das fontes da comunidade*/
    section#comunidade div#div-texto-comunidade h1{
        font-size: 1.8em;
    }
    section#comunidade div#div-texto-comunidade p{
        font-size: 0.9em;
    }
    details ul#lista-detalhes{
        font-size: 1.1em;
    }
    #saibaMais-especial{
        font-size: 0.9em;
    }
 }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    footer div#footer-grande{
        display: none;
    }
    footer div.footer-sm{
        display: block;
    }
 }
 @media (min-width:768px){
    footer div#footer-grande{
        display: block;
    }
    footer div.footer-sm{
        display: none;
    }
 }

/* Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {...}*/

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    footer div{
        margin-top: 20px;
    }
    footer ul#redes-sociais li{
        font-size: 1.5em;
    }
    footer ul#rodape-footer li{
        font-size: 0.8em;
    }
    footer ul#rodape-footer2 li{
        font-size: 0.7em;
    }
 }

/* X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }*/
